.container-fluid {
    width: 960px;
}

.right-part-header {
    height: 100%;
}

.lang-page {
    display: block;
    margin: 10px;
    float: right;
}

.register {
    display: block;
    margin: 10px;
    float: right;
}

.menu {
    display: block;
    float: right;
}

.nav-logo {
    margin: 30px;
}

.link {
    color: black;
    margin-left: 20px;
    text-align: center;
}
.link:hover {
    color: #289448;
    text-decoration: none;
}

.nav {
    padding: 6px;
    margin: 10px;
}

.picture-header { 
    width: 100%;
    height: 80%;
}

.description {
    width: 100%;
    height: 80%;
    padding: 15px;
    margin-bottom: 35px;
    text-align: center;
    border-left: 6px solid rgb(13, 107, 10);
    background-color: rgb(199,216,225);
}

.heading {
    color: green;
}

.useful-images {
    width: 90%;
    height: 200px;
}

.useful-links-on-images {
    padding: 20px;
    text-align: center;
}

.awards {
    margin: 30px;
    padding: 20px;
    width: 188px;
    height: 268px;
}

h5 {
    margin: 20px;
    text-align: center;
}

footer {
    float: bottom;
    background-color: rgb(139, 168, 168);
}

.contacts {
    margin: 20px;
    float: right;
}

li {
   list-style: none; 
}

